<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h2>Users</h2>
<p>database: SQLite3 [users.db]</p>

<hr>

<table id="cars_table" class="table table-striped">
    <tr class="table_header">
        <th>id</th>
        <th>Login</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td >
            <button>edit</button>
            <button>delete</button>
        </td>
    </tr>
</table>


</body>
</html>